<div class="beercontainer">
    <div>
        <h1>{{name}}</h1>
        <h1>First Brewed in: {{firstBrew}}</h1>
        <h1>{{description}}</h1>
        <h1>Each bottle holds {{volume}} litres</h1>
    </div>
</div>