<div class="container">
    <div class="index">
        <img src="images/beer.png" alt="cartoon picture of beer">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>