<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <section> 
        <nav>
            <div class="navLinks">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/beers">Beers</a></li>
                  <li><a href="/random-beer">RandomBeer</a></li>
              </ul>
          </div>
        </nav>
    </section>
   {{{body}}} 
</body>
</html>